*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  font-family: "Autour One", cursive;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #seccCont {
  height: 90vh;
  max-height: 900px;
  width: 90vw;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/img/scale.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left bottom;
  opacity: 1;
  border-radius: 2em;
}
body #seccCont .backImage {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
body #seccCont #IT-dadesTemps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5%;
  right: 5%;
  min-width: 100px;
  min-height: 100px;
  border-top: 3px #8e8e8e solid;
  border-bottom: 3px #8e8e8e solid;
  padding: 1em 0;
  margin: auto;
}
body #seccCont #IT-dadesTemps #condis {
  font-size: 1em;
  text-align: center;
  color: #8e8e8e;
}
body #seccCont #IT-dadesTemps #temperatura {
  font-size: 2em;
  text-align: center;
  color: #8e8e8e;
}
body #seccCont #IT-dadesTemps #ubicacio {
  text-align: center;
  color: #8e8e8e;
}
body #seccCont #IT-contAcudit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4em;
}
body #seccCont #IT-contAcudit .superior {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
}
body #seccCont #IT-contAcudit .superior h1 {
  font-size: 3em;
  color: #ffea00;
  text-shadow: 0 3px 5px #000;
  text-align: center;
}
body #seccCont #IT-contAcudit .superior .IT-button {
  min-width: 140px;
  margin: 2rem 0;
  padding: 1rem 2rem;
  color: #065606;
  background-color: #11e411;
  border-radius: 100px;
  border: 4px #ffea00 solid;
  opacity: 0.85;
  transition: 0.2s all ease-in-out;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
}
body #seccCont #IT-contAcudit .superior .IT-button:hover {
  background-color: #11e411;
  color: #0a850a;
  transform: scale(1.2);
  opacity: 1;
}
body #seccCont #IT-contAcudit #nuevoChiste {
  position: relative;
  margin-top: 1.3em;
  font-size: 1.9em;
  color: #ffea00;
  text-shadow: 0 3px 5px #000;
  text-align: center;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.8), 0px 8px 13px rgba(0, 0, 0, 0.4), 0px -2px 4px rgba(0, 0, 0, 0.2);
  font-family: "Autour One", cursive;
  font-weight: 400;
}
